.footerCategory {
  padding-bottom: 20px;
}

.info {
  font-size: 11px;
  font-weight: 100;
  color: rgb(131, 131, 131);
  line-height: 1.7;
}

.category2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.siteList {
  display: flex;
}

.map .mapList::after {
  content: "|";
  margin-right: 0.2rem;
  padding: 0.9rem;
}

.site {
  display: flex;
  position: relative;
}

.korea {
  position: absolute;
  right: 0;
}

.category2 ul li:first-child {
  font-weight: 600;
}

.category2 ul li:hover {
  text-decoration: underline;
}

.span {
  font-size: 10px;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.map {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

@media screen and (max-width: 786px) {
  .mapList {
    font-size: 10px;
  }
  .site{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .korea{
    display: none;
  }
  .span {
    margin-bottom: 10px;
  }
  .map {
    margin: 0 auto;
  }
  .map .mapList::after {
    text-align: center;
    margin: 0;
    padding: 0 5px;
  }
  .map .mapList:last-child::after {
    content: "";
  }
}
