.navbar {
  background-color: white;
  padding: 10px;
  height: 40px;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.navbarWrapper {
  list-style: none;
}

.navbarItem {
  float: left;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

ul li {
  list-style: none;
}

#menu > ul > li > ul {
  display: none;
  position: absolute;
  border-radius: 5px;
}

#menu > ul > li:hover > ul {
  display: flex;
  flex-direction: column;
}

#menu > ul > li > ul > li{
  /* float: left; */
  width: 130px;
  position: relative;
  background-color: black;
  left: -32px;
  padding: 5px 0 5px 5px;
}

.cartegory{
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}