.storeItem {
  margin-top: 30px;
}

.part {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 130%;
  font-weight: 600;
  color: rgb(124, 124, 124);
  letter-spacing: -2px;
}

.important {
  color: black;
}

.storeItem {
  display: flex;
  justify-content: center;
}

.itemWrap {
  margin: 50px 10px;
}

.itemImage {
  width: 100px;
}

.transitionEffect {
  transition: all 1s;
}

.itemTitle {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
