.newItem {
  display: flex;
}

.newItem .itemImage {
  width: 280px;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgb(226, 226, 226);
}

.newItem .itemWrap {
  position: relative;
}

.cardTitle {
  position: absolute;
  color: white;
  font-size: 10px;
  top: 5%;
  left: 8%;
}

.cardTitle2 {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 80%;
  top: 12%;
  left: 8%;
  line-height: 130%;
}

.cardTitle3 {
  position: absolute;
  color: white;
  font-size: 12px;
  width: 80%;
  top: 26%;
  left: 8%;
}

.blackText {
  color: black !important;
}

@media screen and (max-width: 1500px) {
  .newItem {
    display: flex;
    
  }
}